{
  "plugins": ["prettier-plugin-tailwindcss"],
  "arrowParens": "always",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "objectWrap": "preserve",
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "singleQuote": true,
  "vueIndentScriptAndStyle": false,
  "semi": false,
  "singleAttributePerLine": true,
  "printWidth": 120
}