@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* variables */

:root {
  --font-code:
    "Courier Prime", ui-monospace, SFMono-Regular, Consolas, "Liberation Mono",
    Menlo, monospace;

  --c-primary: #dedede;
  --c-brand: #00aec7;

  --c-bg-1: #171717;
  --c-bg-2: #1c1c1c;
  --c-bg-3: #262626;

  --resize-handle-size: 2px;

  --_left-width: 300px;
  --_right-width: 500px;
  --_left-sidebar-section-height: 400px;
  --_right-sidebar-section-height: 400px;
}

/* app screen space setup */

html,
body {
  height: 100%;
}

body {
  background-color: var(--c-bg-2);
  color: var(--c-primary);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.main-grid {
  display: grid;
  grid-template-columns:
    var(--_left-width, 250px)
    var(--resize-handle-size)
    1fr
    var(--resize-handle-size)
    var(--_right-width, 250px);
}

/* header */

.primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem;
  background-color: var(--c-bg-1);
  border-bottom: 1px solid var(--c-brand);
}

.primary-header_brand-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.primary-header_brand-group h1 {
  font-family: var(--font-code);
  color: var(--c-brand);
  text-shadow: 0 0 0.1rem var(--c-brand);
}

/* app sidebars */

.sidebar-base {
  display: grid;
}

.sidebar-base > section {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sidebar-left {
  grid-template-rows:
    var(--_left-sidebar-section-height, 500px)
    var(--resize-handle-size)
    auto;
}

.sidebar-right {
  grid-template-rows:
    var(--_right-sidebar-section-height, 500px)
    var(--resize-handle-size)
    auto;
}

.sidebar-section-header {
  display: flex;
  font-family: var(--font-code);
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.5rem;
  background-color: var(--c-bg-1);
  border-bottom: 1px solid var(--c-brand);
}

/* option lists */
.option-list-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  padding: 0.25rem;
}

/* small change indicator used in lists */
.changed-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--c-brand);
  margin-left: 0.5rem;
}

/* buttons */

button {
  background-color: transparent;
  border: 2px solid var(--c-brand);
  color: var(--c-brand);
  border-radius: 0.25rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--c-brand);
  color: #282828;
}

.button-danger {
  border-color: #c70000;
  color: #c70000;
}

.button-danger:hover {
  background-color: #c70000;
  color: #282828;
}

/* resize handles */

.resize-handle {
  background: var(--c-brand);
}

.resize-handle:hover {
  display: flex;
  color: white;
  background: color-mix(in srgb, var(--c-brand), white 20%);
  box-shadow: 0 0 0.5rem var(--c-brand);
}

.handle-vertical {
  cursor: ew-resize;
}

.handle-vertical:hover {
  width: 8px;
  transform: translateX(-50%);
}

.handle-vertical:hover::after {
  content: "⣤";
  margin: auto;
  transform: translateX(-2px);
}

.handle-horizontal {
  cursor: ns-resize;
}

.handle-horizontal:hover {
  height: 8px;
  transform: translateY(-50%);
}

.handle-horizontal:hover::after {
  content: "⣤";
  margin: auto;
  transform: translateY(-0.68rem);
}

/**
helpers
*/

/* vertical divider */
.v-div {
  background-color: var(--c-primary);
  width: 0.1rem;
  height: 1.25rem;
}
